{% extends 'base.html' %}

{% block title %}
    Список городов
{% endblock %}

{% block content %}
    <h1>Список городов</h1>
    <div class="row">
        <div class="col-md-8 mx-auto my-3 ">
            <table class="table table-striped">
                {% for object in page_obj %}
                    <tr>
                        <td>
                            <a href="{% url 'cities:detail' object.pk %}"> {{ object.name }} </a>
                        </td>
                        <td>
                            <a href="{% url 'cities:update' object.pk %}">
                                <button type="button" class="btn btn-sm btn-outline-warning">Редактировать</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'cities:delete' object.pk %}">
                                <button type="button" class="btn btn-sm btn-outline-danger">Удалить</button>
                            </a>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>


    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">

        <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% endif %}
        </li>
        {% for page in page_obj.paginator.page_range %}
            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}
        <li class="page-item">
            {% if page_obj.has_next %}

              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            {% endif %}
        </li>
      </ul>
    </nav>

    <style>
        a {
            text-decoration: none;
            color: #000000;
        }
        a:hover{
            color: #143, 143, 161, 0.8;
            font-weight: 400;
        }
    </style>
{% endblock %}
